{% extends "newsportal/base.html" %}
{% block content %}
<!-- Main Content Area -->
    <div class="container mt-4">
      <h1 class="mb-4 section-title">
        <span>Latest News</span>
      </h1>

      <div class="row">
        <!-- News Listing Column -->
        <div class="col-lg-8">

          {% include "newsportal/list/left/post_list.html" %}
          {% include "newsportal/list/left/pagination.html" %}

        </div>

        <!-- Sidebar (Reused Structure) -->
        <div class="col-lg-4">
          <div class="position-sticky sticky-sidebar-offset">
            {% include "newsportal/home/right/advertisement.html" %}
            {% include "newsportal/home/right/most_popular.html" %}
            {% include "newsportal/home/right/newsletter.html" %}
          </div>
        </div>
      </div>
    </div>
{% endblock content %}