<h3 class="mb-4 section-title">
    <span>User Comments (3)</span>
</h3>

<div class="card p-4 shadow-sm mb-4">
    {{ form.errors }}

    <!-- Comment Form -->
    {% if request.user.is_authenticated %}
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="post" value="{{ post.pk }}">

            <div class="mb-3">
                <label for="commentText" class="form-label">
                    Leave a Comment
                </label>

                <textarea
                    class="form-control"
                    name="content"
                    id="commentText"
                    rows="4"
                    placeholder="Write your comment here..."
                ></textarea>
            </div>

            <button type="submit" class="btn btn-success">
                Post Comment
            </button>
        </form>
    {% endif %}
</div>
