<!-- Trending News Grid/List -->
          <h3 class="mb-3 section-title">
            <span>Trending News</span>
          </h3>
          <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for post in trending_news %}
            <!-- Trending Item 1 -->
            <div class="col">
              <div class="card h-100 shadow-sm news-card">
                <img src="{{ post.featured_image.url}}"
                     width = "400"
                     height="250"
                     class="card-img-top"
                     alt="Trending News 1" />
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                  <a href="{% url 'post-detail' post.pk %}" class="btn btn-outline-success btn-sm">
                    Read More
                    </a>

                </div>
                <div class="card-footer">
                  <small class="text-muted">{{ post.published_at|date:"F j, Y" }}</small>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>