{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Portal - Home</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}"
          rel="stylesheet"/>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>

    <!-- Elegant Navbar -->
    {% include "newsportal/nav.html" %}

    {% block content %}

    {% endblock content %}

    <!-- Footer -->
    {% include "newsportal/footer.html" %}

    <!-- Bootstrap Bundle with Popper -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
