{% extends "newsportal/base.html" %}

{% block content %}
 <!-- Main Content Area -->
    <div class="container mt-4 mb-5">
        <h1 class="mb-4 section-title"><span>All Categories</span></h1>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for category in categories %}
                <!-- Category Card 1 -->
                <div class="col">
                <div class="card h-100 shadow-sm list-item-card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'post-by-category' category.pk %}"><i class="{{ category.icon }}"></i>"{{category.name|title }}"</a></h5>
                        <p class="card-text">"{{ catgeory.description }}"</p>
                    </div>
                </div>
            </div>
                <!-- Add more category cards as needed -->
            {% endfor %}
        </div>
    </div>
{% endblock content %}
